.pd-30{
    position: relative;
    padding: 30px 76px;

    .intership-circle{
        position: absolute;
        width: 22%;
        bottom: -87px;
        right: 0;

        img{
            width: 50%;
            object-fit: cover;
        }
    }

    .carrers{
        margin-top: 30px;
        font-family: medium;
        text-align: center;
    
        h2{
            font-size: 110px;
            color: #01bdd5;
            letter-spacing: 10px;
            opacity: 12%;
            text-transform: uppercase;
        }
    
        h3{
            font-size: 43px;
            background: linear-gradient(to right, #01bdd5, #01A6CA, #008FBE);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            transform: translateY(-47px);
        }
    
        .img-carrers{
            width: 24%;
            object-fit: cover;
            transform: translate(-566px, -113px);
        }
    }
    
    
    
    //Item 
    .grid-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        grid-column-gap: 100px;
        font-size: 18px;
        padding: 20px 0;
    }
    .item1{ order: 1};
    .item2{ order: 2};
    .item3{ order: 3};
    .item1 {
            input{
            margin-top: 15px;
            height: 25px;
            border: 2px solid #d4d2d2;
            border-radius: 5px;
        }
    }
    
    .item2{
            input{
            margin-top: 15px;
            width: 33%;
            height: 25px;
            border: 2px solid #d4d2d2;
            border-radius: 5px;
        }
    
        select{
                width: 26%;
                height: 30px;
                border: 2px solid #d4d2d2;
                border-radius: 5px;
                padding: 5px 10px;
        }
    
            span{
            color: #01bdd5;
        }
        
    
            input.text{
            margin-top: 15px;
            width: 100%;
            height: 130px;
            border: 2px solid #d4d2d2;
            border-radius: 5px;
        }
    }
    
    .item3{
        padding: 0px;
        margin-top: -73px;
    }
    
    
    
    
    
    //grid item 1
    .grid-container-item1{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 10px;
    }
    
    .item1-1{
        order: 1;
        input{
            width: 90%;
        }
    }
    
    .item1-2{
        order: 2;
        input{
            width: 100%;
        }
    }
    
    .item1-3{
        order: 3;
        grid-column: 1/ span 2;
        input{
            width: 100%;
        }
    }
    
    .item1-4{
        order: 4;
        grid-column: 1/ span 2;
        input{
            width: 100%;
        }
    }
    
    .item1-5{
        order: 5;
        grid-column: 1/ span 2;
        input{
            width: 100%;
        }
    }
    
    
    //grid-item2
    .grid-container-item2{
        display: grid;
        grid-template-columns: repeat( 1, 1fr);
        grid-gap: 10px;
    }
    
    .item2-1{order: 1}
    .item2-2{order: 2;
        input{
            width: 100%;
        }
    }
    .item2-3{order: 3}
    .item2-4{order: 4;
            position: relative;
            button{
                position: absolute;
                top: 6px;
                right: 0;
                padding: 8px 46px;
                color: #fff;
                background-color: #01bdd5;
                border: 2px solid #01bdd5;
                border-radius: 5px;
            }
    }
    
    
    //grid-item3
    .grid-container-item3{
        display: grid;
        grid-template-columns: repeat( 3, 1fr);
        grid-gap: 10px;
    }
    .grid-container-item3 > div{
        padding: 10px 0 0 0;
    }
    .grid-container-item3 > div:hover{
        color: #01BDD5;
    }
    
    .item3-1{order: 1}
    .item3-2{order: 4}
    .item3-3{order: 2}
    .item3-4{order: 5}
    .item3-5{order: 3}
    .item3-6{order: 6}
    
    .item3-3 , .item3-4{
        text-align: center;
    }
    
    .item3-5, .item3-6 {
        text-align: right;
    }
    
    
    
    .item3-3{
        position: relative;
        &::after,
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(30%);
            height: 100%;
            width: 2px;
            background-color: #000;
        }
        &::before {
            left: -35px;
        }
        &::after {
            right: -45px;
        }
    }
}

