@media (min-width: 1401px) {
    
    .container {
        max-width: 1280px;
        position: relative;
    }

    .navbar-head-list-item:first-child{
        display: none;
    }

    
    .navbar-head-list-item:last-child{
        display: none;
    }

    .line-component{
        display: block;
    }

    .swiper-container{
        display: none;
    }

    .seven-steps-circle-tablet{
        display: none;
    }


    .awesome-product-list:last-child > div:last-child{
        display: none;
    }
    .footer-row{
        display: none;
    }
    //Phone
    .design-dev-list-phone{
        display: none;
    }

    .footer-phone{
        display: none;
    }

    .footer-row{
        display:none;
    }

    .footer-phone{
        display: none;
    }
}
@media (max-width: 1400px) {
    .container {
        max-width: 1280px;
        position: relative;
    }

    .navbar-head-list-item:first-child{
        display: none;
    }

    
    .navbar-head-list-item:last-child{
        display: none;
    }

    .line-component{
        display: block;
    }

    .swiper-container{
        display: none;
    }

    .seven-steps-circle-tablet{
        display: none;
    }


    .awesome-product-list:last-child > div:last-child{
        display: none;
    }
    .footer-row{
        display: none;
    }
    //Phone
    .design-dev-list-phone{
        display: none;
    }

    .footer-phone{
        display: none;
    }

    .footer-row{
        display:none;
    }

    .footer-phone{
        display: none;
    }
}

@media (max-width: 1366px)
{
    .container{
        max-width: 1000px;
        position: relative;
    }

    .navbar-head-list-item:first-child{
        display: none;
    }

    .navbar-head-list-item:last-child{
        display: none;
    }

    .line-component{
        display: block;
    }

    .swiper-container{
        display: none;
    }

    .seven-steps-circle-tablet{
        display: none;
    }

    .awesome-product-list:last-child > div:last-child{
        display: none;
    }

    .footer-row{
        display: none;
    }
    //Phone
    .design-dev-list-phone{
        display: none;
    }

    .footer-phone{
        display: none;
    }
}




