@media (max-width: 414px)
{
    .container{
        width: 100%;
    }

    .fixed-top {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 2;
    }

    .navbar-head-list {
        display: flex;
        flex-wrap: wrap;
        padding: 0px 15px;
    }

    .navbar-head-list-item:first-child img {
        padding-top: 3px;
        width: 19%;
        object-fit: cover;
    }

    .navbar-head {
        background-color: #fff;
    }

    .navbarslide {
        height: 100vh;
    }
    .navbarslide .row {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        font-size: 20px;
        color: #fff;
        line-height: 90px;
        text-transform: uppercase;
        padding: 50px 0px;
    }

    .navbarslide img {
        width: 100%;
        object-fit: cover;
        position: absolute;
        top: 124px;
    }
    .navbarslide .row .col-md-6 {
        width: calc(100%);
    }
    .design-dev {
        width: 100%;
        position: relative;
        margin-top: 76px;
    }

    .design-dev h2 {
        text-align: center;
        font-size: 30px;
        color: #01bdd5;
        opacity: 20%;
        text-transform: uppercase;
    }

    .design-dev h3 {
        text-align: center;
        color: #01bdd5;
        text-align: center;
        font-size: 17px;
        transform: translate(0px, -50px);
    }

    .design-dev p {
        text-align: center;
        font-size: 12px;
        padding: 0px 63px;
    }

    .design-dev-list{
        display: none;
    }

    .design-dev-list-phone{
        display: flex;
        flex-wrap: wrap;
        
        &-item{
            width: calc(100%/2);

            img{
                width: 65%;
                object-fit: cover;
                display: block;
                margin: auto;
            }
        }

        &-item:last-child{
            margin-top: 7px;
        }
    }

    .design-dev-list-phone-item:first-child img {
        width: 65%;
        object-fit: cover;
        display: block;
        margin: auto;
    }

    .design-dev-list-phone-item:first-child img:nth-child(2) {
        width: 68%;
    }

    .design-dev-list-phone-item:first-child img:nth-child(3) {
        width: 81%;
    }

    .design-dev-list-phone-item:last-child img {
        width: 68%;
    }

    .design-dev-list-phone-item:last-child img:nth-child(2) {
        width: 78%;
    }

    .design-dev-list-phone-item:last-child img:nth-child(3) {
        width: 81%;
    }


    .modern-tech h3 {
        text-align: center;
        color: #01bdd5;
        font-size: 17px;
        padding: 0px 60px;
    }

    .modern-tech p {
        margin-top: 10px;
        text-align: center;
        font-size: 12px;
        line-height: 28px;
        padding: 0px 60px;
    }

    .modern-tech-list .modern-tech-list-item-content-title {
        font-size: 10px;
    }

    .modern-tech-list-item-content-img {
        padding-top: 20px;
    }

    .seven-steps-content-title {
        position: relative;
        padding-left: 100px;
        font-size: 80px;
        color: #01bdd5;
        opacity: 0.1;
    }

    .seven-steps-content-content {
        width: 50%;
        position: absolute;
        top: 34px;
        left: 57px;
        p {
            font-size: 16px;
        }
    }

    .seven-steps-circle-tablet-list-circle .content {
        position: relative;
        padding: 0px 0px 0px 26px;
    }

    .seven-steps-circle-tablet-list-circle .content .circle {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        color: #01bdd5;
        border: 2px solid #01bdd5;
        text-align: center;
        line-height: 50px;
        margin-bottom: 113px;
        position: relative;
    }

    .seven-steps-circle-tablet-list-circle .content .circle::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 25px;
        height: 115px;
        width: 2px;
        background-color: #01bdd5;
    }

    .seven-steps-circle-tablet-list-content .item {
        position: relative;
        padding: 0px 30px 0px 0px;
    }
    .seven-steps-circle-tablet-list-content .item .title {
        color: #01bdd5;
        font-size: 15px;
        margin-bottom: 10px;
    }

    .seven-steps-circle-tablet-list-content .item .content {
        font-size: 12px;
    }

    .seven-steps-circle-tablet-list-content .item:nth-child(2) {
        position: relative;
        padding: 66px 30px 0px 0px;
    }

    .seven-steps-circle-tablet-list-content .item:nth-child(3) {
        position: relative;
        padding: 46px 30px 0px 0px;
    }

    .seven-steps-circle-tablet-list-content .item:nth-child(4) {
        position: relative;
        padding: 52px 30px 0px 0px;
    }

    .seven-steps-circle-tablet-list-content .item:nth-child(5) {
        position: relative;
        padding: 63px 30px 0px 0px;
    }

    .seven-steps-circle-tablet-list-content .item:nth-child(6) {
        position: relative;
        padding: 64px 30px 0px 0px;
    }

    .seven-steps-circle-tablet-list-content .item:last-child {
        position: relative;
        padding: 51px 60px 0px 0px;
    }

    .awesome-product {
        position: relative;
        margin: 0px 0px;
        font-family: abc;
    }

    .awesome-product-content p {
        font-size: 16px;
    }

    .awesome-product-content p img {
        width: 3%;
        object-fit: cover;
        position: absolute;
        top: 9px;
        left: 120px;
    }
    
    .awesome-product-list-item:first-child .item-img {
        width: 100%;
        height: 205px;
        background-color: #01BDD5;
    }

    .awesome-product-list-item:first-child .item-img img {
        width: 80%;
        object-fit: cover;
        position: absolute;
        top: -43px;
        left: 42px;
    }

    .awesome-product-list-item:nth-child(2) .content {
        position: relative;
        padding: 25px 30px 0px 30px;
    }

    .awesome-product-list-item:nth-child(2) .content .title p {
        margin: 10px 0px 30px 40px;
        font-size: 15px;
    }

    .awesome-product-list-item:nth-child(2) .text {
        font-size: 12px;
    }
    
    .awesome-product-list:last-child > div:last-child {
        padding: 25px 30px;
    }


    .awesome-product-list:last-child > div:last-child .content .title h2 {
        font-size: 35px;
    }

    .awesome-product-list:last-child > div:last-child .content .title p {
        font-size: 15px;
        margin: 10px 0px 30px 40px;
    }

    .awesome-product-list:last-child > div:last-child .text {
        font-size: 12px;
    }

    .support {
        position: relative;
        height: 185px;
        display: block;
        background-color: #bfedff;
        margin-top: 30px;
        padding: 0px 48px;
        font-size: 20px;
    }

    .support-text {
        position: relative;
        width: 100%;
    }

    .support-text h4 {
        color: #01BDD5;
        font-size: 15px;
        padding: 30px 27px 10px 0px;
    }

    .support-text p {
        font-size: 13px;
        padding-right: 22px;
    }

    .support-content:last-child {
        width: 100%;
        text-align: right;
        padding-top: 17px;
        z-index: 1;
    }

    .support-content:last-child button {
        background-color: #01BDD5;
        border: 1px solid #01BDD5;
        font-size: 12px;
        color: #fff;
        padding: 10px 30px;
    }

    .support img {
        position: absolute;
        top: 0;
        right: 0;
        width: 46%;
    }

    .footer-row{
        display: none;
    }

    .footer {
        padding: 30px;
        line-height: 25px;
    }

    .footer-phone{
        display: flex;
        flex-wrap: wrap;
        position: relative;

        .column{
            width: calc(100%/2 - 40px + 40px/2);
            padding-right: 40px;
        }

        .column:first-child{
            font-size: 12px;
            img{
                width: 80%;
                object-fit: cover;
            }

            hr{
                width: 10px;
            }
        }

        .column:last-child{
            padding-right: 0;
            font-size: 12px;

            hr{
                width: 10px;
                margin: 10px 0;
            }

            .address{
                margin: 10px 0;
            }
        }
    }

    .footer-bottom {
        font-size: 11px;
    }

    //Contact

    .contact h2 {
        font-size: 30px;
    }

    .contact h3 {
        font-size: 17px;
        transform: translateY(-18px);
    }

    .grid-container {
        font-size: 14px;
    }

    .item1{order: 1}
    .item2{order: 3}
    .item3{order: 2}

    .grid-container-item1 {
        grid-template-columns: repeat(1, 1fr);
    }

    .item1-1 {
        order: 1;
    }

    .item1-2 {
        order: 2;
    }

    .item1-3 {
        order: 4;
        grid-column: 1;
    }

    .item1-4 {
        order: 4;
        grid-column: 1;
    }


    .item3 {
        margin-top: 0;
        width: 100%;
    }

    .item3-1, .item3-2, .item3-3, .item3-4, .item3-5, .item3-6{
        text-align: center;
    }

    .item3-3::before {
        left: -14px;
    }

    .grid-container-item2 {
        grid-template-columns: repeat(1, 1fr);
    }

    .item2-3 {
        grid-column: 1;
    }

    .wehere {
        margin: 60px 0 30px 0;
    }

    .address .grid-container-map {
        grid-template-columns: repeat(1, 1fr);;
    }

    .address .item-map-1 {
        order: 2;
    }

    .address .item-map-2 {
        order: 1;
        padding: 30px 34px 30px 45px;
    }

    

    //services
    .slideshow-container{
        margin-top: 80px;
       .dot-position {
           display: block;
           bottom: 0%;
            left: 10%;
       }
    }
    .ourservices {
        position: relative;
        width: 100%;
        top: 0;
        z-index: -1;
        overflow: hidden;

        .title{
            position: relative;
            right: -105px;
            top: 63px;
        }
        .hr{
            left: 0;
            top: 72px;
        }
        .content{
            width: 100%;
            position: relative;
            margin-top: 0;
        }
    }

    .software h2 {
        font-size: 32px;
    }

    .software h3 {
        transform: translateY(-50px);
        font-size: 17px;
    }

    .software .img-vitri1 {
        top: 21px;
        left: -162px;
    }

    .software .img-vitri2 {
        top: 53px;
        left: -179px;
    }

    .software .img-vitri3 {
        top: 0px;
        left: 137px;
    }

    .software .img-vitri4 {
        top: 37px;
        left: 159px;
    }

    .software .hr p {
        height: 1px;
    }

    .software .hr p:last-child {
        position: absolute;
        top: 16px;
        left: 4px;
    }


    .software .vitri1 {
        top: 10px;
        left: 14px;
    }

    .software .vitri2 {
        left: 70px;
        top: 39px;
    }

    .software .vitri4 {
        top: 51px;
        left: 323px;
    }

    .software .vitri5 {
        top: 0px;
        left: 386px;
    }

    .grid-container-services {
        display: grid;
        grid-template-columns: repeat(1, 1fr);

        .item3-services {
            order: 4;
        }

        .item4-services {
            order: 3;
        }


        .item7-services {
            order: 8;
        }

        .item8-services {
            order: 7;
        }

        .item11-services {
            order: 12;
        }

        .item12-services {
            order: 11;
        }
    }
    .grid-container-services .item2-services .content-services, .grid-container-services .item3-services .content-services, .grid-container-services .item6-services .content-services, .grid-container-services .item7-services .content-services, .grid-container-services .item10-services .content-services, .grid-container-services .item11-services .content-services {
        font-size: 13px;
    }
    .grid-container-services .item2-services .content-services p, .grid-container-services .item3-services .content-services p, .grid-container-services .item6-services .content-services p, .grid-container-services .item7-services .content-services p, .grid-container-services .item10-services .content-services p, .grid-container-services .item11-services .content-services p {
        font-size: 14px;
    }
    

    .slideshow-container img {
        transform: translateX(94px);
    }

    .showall .row .col-md-6:last-child {
       display: none;
    }
    
    .design-container .design-title {
        h2{
            display: none;
        }

        h3{
            transform: none;
            font-size: 20px;
        }
    }
    
    .design-container .grid-container-design {
        margin-top: 30px;
    }

    .design-container .grid-container-design .content {
        padding: 0px 53px 0px 55px;
    }

    .design-container .grid-container-design .item-design-3 .grid-design-3 {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 20px;

        .item-design-3-1{
            order: 2
        }
        .item-design-3-2{
            order: 1
        }
        .item-design-3-2 .center{
            text-align: center;
        }
    }
    
    .select{
        display: block;
        margin-left: 43px;
        margin-top: 18px;
        select{
            width: 100px;
            border: none;
            border-bottom: 1px solid #000;
            font-size: 14px;
        }
    }

    //Product-list
    .grid-container-list-product {padding: 0px 35px;}
    .grid-container-list-product {grid-template-columns: repeat(1, 1fr);}
    .grid-container-list-product .item-list-1 {
        order: 1;
        grid-column: 1/span 1;
    }
    .grid-container-list-product .item-list-1 .grid-item-list-1 .item-list-1-2 img {width: 100%;}
    .grid-container-list-product .item-list-1 .grid-item-list-1 .item-list-1-1 {
        width: 100%;
        .content{
            padding: 0px 30px;
        }
    }
    .grid-container-list-product .item-list-3 .list-3 .content {
        padding: 0;
    }
    .grid-container-list-product .item-list-4 {
        order: 5;
    }
    .grid-container-list-product .item-list-5 {
        order: 4;
    }


    //Carrers

    .dream .our-dream .title {
        top: 11px;
        left: 90px;
        text-align: center;
    }

    .dream .our-dream .title p {
        font-size: 12px;
    }

    .dream .our-dream .title h2 {
        width: 100%;
        font-size: 25px;
    }

    .dream .six-reason .grid-container-six {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 0px;
        grid-gap: 20px;
        padding: 0 65px;
    }

    .dream .our-dream img {
        width: 130%;
        object-fit: cover;
        transform: translate(-126px, 81px);
    }

    .dream .our-dream .career-circle {
        top: 136px;
        right: -180px;
        width: 38%;
    }

    .dream .six-reason .title h2 {
        font-size: 100px;
        transform: translate(107px, 80px);
    }

    .dream .six-reason .title h3 {
        font-size: 16px;
        top: 139px;
        left: 150px;
    }

    .dream .six-reason .available-job {
        padding: 0px 50px 50px 50px;
    }

    .dream .six-reason .available-job .than {
        font-size: 60px;
    }

    .dream .six-reason .available-job .vitri1 {
        left: 27px;
        top: 31px;
    }

    .dream .six-reason .available-job .vitri2 {
        right: 31px;
        bottom: -1px;
    }


    .dream .dreamjob {
        height: 259px;
    }
    .dream .dreamjob .grid-container-job {
        grid-template-columns: repeat(1, 1fr);
        padding: 49px 40px;
    }

    .dream .dreamjob .grid-container-job .item-job-3 {
        order: 3;
        grid-column: 1/span 1;
    }

    .dream .dreamjob .grid-container-job .item-job-1 .job .select {
        display: block;
        top: -8px;
        right: 30px;
    }

    .dream .dreamjob .grid-container-job .item-job-2 .job .select {
        display: block;
        top: -8px;
        right: 30px;
    }

    .jobs .job .title h3 {
        font-size: 20px;
        transform: translateY(-61px);
    }

    .jobs .grid-container-apply .item {
        box-sizing: border-box;
        padding: 50px 34px;
    }

    .jobs .grid-container-apply .item .row .level-left h2 {
        font-size: 19px;
    }

    .jobs .grid-container-apply .item .content .requires .text {
        width: 40%;
    }

    .jobs .grid-container-apply .item .content .requires .text-content {
        width: 60%;
    }

    .jobs .grid-container-apply .item .content .job-des .text {
        width: 40%;
    }

    .jobs .grid-container-apply .item .content .job-des .text-content {
        width: 60%;
    }

    .jobs .grid-container-apply .item .content .icon .icon-three {
        width: 55%;
    }

    .jobs .grid-container-apply .item .content .icon .btn-apply-now {
        width: 45%;
        padding: 0px 0px 0px 56px;
    }

    .jobs .grid-container-apply .item .row .level-left p {
        line-height: 24px;
        padding: 2px 57px;
    }

    .jobs .grid-container-apply .item .row .level-left p::before {
        left: 170px;
    }

    .jobs .pd-50 .showall {
        width: 43%;
        padding: 9px 39px;
    }

    .jobs .number {
        height: 355px;
    }

    .jobs .number .grid-container-number {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
        padding: 61px 100px;
    }

    .intership h2 {
        font-size: 50px;
    }

    .intership h3 {
        font-size: 20px;;
        transform: translateY(-21px);
    }

    .intership h3 span {
        text-decoration: underline 3px #01bdd5;
    }

    .pd-200 {
        padding: 30px 50px;

        .item2-3 button {
            top: 36px;
        }
    }


    .pd-200 .intership-circle {
        position: absolute;
        width: 50%;
        bottom: -87px;
        right: 0;
    }

    //carrers-apply
    .pd-30{
        padding: 0px 50px;
        .carrers h2 {
            font-size: 30px;
        }
    
        .carrers h3 {
            font-size: 17px;
            transform: translateY(-18px);
        }
    
        .grid-container {
            font-size: 14px;
            padding-bottom: 80px;
        }
    
        .item1{order: 1}
        .item2{order: 3}
        .item3{order: 2}
    
        .grid-container-item1 {
            grid-template-columns: repeat(1, 1fr);
        }
    
        .item1-1 {
            order: 1;
        }
    
        .item1-2 {
            order: 2;
        }
    
        .item1-3 {
            order: 4;
            grid-column: 1;
        }
    
        .item1-4 {
            order: 4;
            grid-column: 1;
        }

        .item1-5{
            order: 5;
        }
    
    
        .item3 {
            margin-top: 0;
            width: 100%;
        }
    
        .item3-1, .item3-2, .item3-3, .item3-4, .item3-5, .item3-6{
            text-align: center;
        }
    
        .item3-3::before {
            left: -14px;
        }
    
        .grid-container-item2 {
            grid-template-columns: repeat(1, 1fr);
        }
    
        .item2-2 {
            order: 2;
            margin-top: 0px; 
        }

        .item2-3 {
            grid-column: 1; 
            margin-top: 0px; 
        }

        .item2-4 {
            grid-column: 1; 
        }

        .intership-circle {
            width: 55%;
            bottom: -97px;
        }
    
    }

     //About us
     .about {
        padding: 0;
        margin-top: 49px;
    }

    .about .about-something h2 {
        font-size: 20px;
        transform: translateY(88px);
    }

    .about .about-something .position {
        position: absolute;
        top: 210px;
        left: 0;
        padding: 0px 50px;
        color: #707070;
        font-weight: 100;
    }

    .about .our-story {
        padding: 430px 25px 0px 25px;
    }

    .about .our-story .our-story-content .number {
        width: 15%;
    }

    .about .our-story .our-story-content .content {
        width: 85%;
    }

    .about .our-story .our-story-content .content .title {
        font-size: 15px;
    }

    .about .our-story .our-story-content .content .text {
        font-size: 14px;
    }

    .about .our-core-values h2 {
        font-size: 20px;
        margin: 35px 0px;
    }

    .our-mission .mission .title {
        font-size: 20px;
    }

    .our-mission .mission .title span {
        text-decoration: underline 2px #01BDD5;
    }

    .our-mission .mission .content {
        display: flex;
        padding: 0px 29px;
    }

    .about .our-story {
        padding: 710px 25px 0px 25px;
    }

    .about .our-core-values .grid-core-values {
        grid-template-columns: repeat(2, 1fr);
        padding: 0 50px;
    }

    .about .our-core-values .grid-core-values .item-core-2 {
        order: 2;
    }

    .about .our-core-values .grid-core-values .item-core-2 p {
        padding: 18px 0;
    }

    .about .our-core-values .grid-core-values .item-core-4 {
        order: 3;
    }

    .about .our-core-values .grid-core-values .item-core-5 {
        order: 4;
    }

    .about .our-core-values .grid-core-values .item-core-3 {
        order: 5;
    }

    .about .our-core-values .grid-core-values .item-core-6 {
        order: 6;
        P{
            padding: 21px 0;
        }
    }

    .our-mission .mission .content .img-mission {
        position: absolute;
        top: 102px;
        left: 23px;
        opacity: 0.2;
    }

    .our-mission .mission .content .img-mission img {
        width: 284%;
    }

   .our-mission .mission:nth-child(2){
        .img-mission {
            position: absolute;
            top: 150px;
            left: 200px;
            opacity: 0.2;
            img{ width: 240%;}
        }
   }

   .our-mission .mission:nth-child(3){
    .img-mission {
        position: absolute;
        top: 120px;
        left: 0px;
        opacity: 0.2;
        img{ width: 200%;}
    }
    }

    .our-mission .mission .content .text {
        font-size: 15px;
    }

    .our-leadership .title h2 span {
        text-decoration: underline 2px #01BDD5;
    }

    .our-leadership .title h2 {
        font-size: 25px;
        margin: 40px 0px 30px 0px;
    }

    .our-leadership .title p {
        font-size: 15px;
    }

    .add{
        .number {
            height: 355px;
        }
    
        .number .grid-container-number {
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 20px;
            padding: 61px 100px;
        }
    }
}


@media (max-width: 375px){
    .software .img-vitri1 {
        top: 17px;
        left: -139px;
    }

    .software .img-vitri2 {
        top: 53px;
        left: -153px;
    }

    .software .img-vitri3 {
        top: 12px;
        left: 136px;
    }

    .software .img-vitri4 {
        top: 37px;
        left: 159px;
    }

    .software .vitri2 {
        left: 64px;
        top: 53px;
    }

    .software .vitri4 {
        top: 47px;
        left: 300px;
    }

    .software .vitri5 {
        top: 0px;
        left: 343px;
    }


    //carrers
    .dream .our-dream .title {
        left: 55px;
    }

    .dream .our-dream img {
        width: 134%;
    }

    .jobs .grid-container-apply .item {
        box-sizing: border-box;
        padding: 50px 18px;
    }

    .pd-200 .intership-circle {
        width: 59%;
        bottom: -96px;
    }

}