.ourservices{
    position: relative;
    width: 45%;
    top: -650px;
    z-index: -1;

    .title{
        font-family: medium;
        font-size: 32px;
        text-transform: uppercase;
        background: linear-gradient(to right, #01BDD5, #01A6CA, #008FBE);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        position: absolute;
        right: 0;
    }

    .hr{
        position: absolute;
        top: 23px;
        width: 40%;
        height: 10px;
        background: linear-gradient(to right,#008FBE, #01A6CA , #01BDD5);
    }

    .content{
        margin-top: 75px;
        width: 100%;
        box-sizing: border-box;
        color: #fff;
        font-family: abc;
        font-size: 20px;
        background: linear-gradient(to right, #01BDD5, #01A6CA, #008FBE);
        padding: 70px 130px 115px 130px;
        position: absolute;
        right: 0;
    }
}